{
  "singleQuote": true,
  "importOrder": ["[.](s|c)ss$", "^(?![@./]).*", "^@", "^[./]" ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins":["decorators", "typescript"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
